.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    min-height:400px;
}

.footer{
    background-color: rgba(39, 103, 167, 0.671);
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: rgb(227, 238, 240);
}

.jumbotron {
    padding:30px 30px 30px 30px;
    margin:0px auto;
    background: rgba(61, 4, 83, 0.842) ;
    color:rgb(227, 238, 240);
}

address{
    font-size:80%;
    margin:0px;
    color:rgb(227, 238, 240);
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 20px 20px 20px 20px; 
    background: floralwhite;
    min-height:400px;
}

.nav{
    padding: auto;
    border-left: auto #ddd;
    border-right: auto #ddd;
    border-bottom: auto #ddd;
   
}

.nav-link {
    color: black;
    background: grey;
}

.btn-lg {
    padding: 20px 20px 20px 20px;
    margin:5px;
    font-size: 75%;
    border-radius: 10px;
    width:150px; 
    height: 150px;
}

#mailid {
    color:rgb(227, 238, 240);
}

.btn {
    font-size: 20px;
}